---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - nats.jradikk
  resources:
  - natsaccounts
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - nats.jradikk
  resources:
  - natsaccounts/finalizers
  verbs:
  - update
- apiGroups:
  - nats.jradikk
  resources:
  - natsaccounts/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - nats.jradikk
  resources:
  - natsauthconfigs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - nats.jradikk
  resources:
  - natsauthconfigs/finalizers
  verbs:
  - update
- apiGroups:
  - nats.jradikk
  resources:
  - natsauthconfigs/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - nats.jradikk
  resources:
  - natsusers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - nats.jradikk
  resources:
  - natsusers/finalizers
  verbs:
  - update
- apiGroups:
  - nats.jradikk
  resources:
  - natsusers/status
  verbs:
  - get
  - patch
  - update
